/**
    Author : Marcel Lhote
*/

.article-holder {
    display: flex;
    flex-direction: row;
    align-items: start;
    text-align: center;
    min-height: 100vh;
    flex-wrap: wrap;
}

.article-holder .article-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 25px;
}

.article-content .article-items {
    border: 3px solid #fff;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    max-width: 500px;
}

.article-content h3, h6 {
    color: #fff;
    text-align: left;
    font-weight: 600;
    margin-bottom: 5px;
}

.article-content h3.article-title {
    margin-bottom: 30px;
}

.article-content p {
    color: #fff;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 5px;
}

.article-content .paragraphe {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    outline: 0;
    border-width: 4px;
    border-radius: 6px;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    text-color: #000;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
    margin-bottom: 16px;
    max-height: 75%;
}

.article-btn-primary {
    background-color: #08C;
    outline: none;
    border: 0px;
    box-shadow: none;
}

.article-btn-primary:hover, .article-btn-primary:focus, .article-btn-primary:active {
    background-color: #08C;
    outline: none !important;
    border: none !important;
    box-shadow: none;
}