
.scrollingdiv{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
    max-width: 535px; /*set table width here if using fixed value*/
    min-width: 100%; /*set table width here if using %*/
    height: 150px; /*set table height here; can be fixed value or %*/
    /*min-height: /*104px; if using % height, make this at least large enough to fit scrollbar arrows + captions + thead*/
    line-height: 20px;
    padding-top: 20px; /*this determines top caption height*/
    padding-bottom: 20px; /*this determines bottom caption height*/
    text-align: left;
    
    scrollbar-color: grey white;
}

.scrollingdiv * {box-sizing: border-box;}
.scrollingdiv > div {
    position: relative;
    /*border-top: 1px solid #fff; /*top table border*/
    height: 100%;
    padding-top: 5px; /*this determines column header height*/

    /*min-height: 43px;*/ /*if using % height, make this at least large enough to fit scrollbar arrows*/
    max-height: 100%;
    overflow: scroll; /*set to auto if using fixed or % width; else scroll*/
    overflow-x: hidden;
    border: 2px solid #fff; /*border around table body*/
}